* {
    box-sizing: border-box;
}
body {
    display: flex;
    margin: auto;
}
header {
    width: 220px;
    height: 100vh;
    background-color: #69A2B0;
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
    align-items: center;
}
header figure {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}
header img {
    width: 70%;
    margin: auto;
    padding: 0;
    border-radius: 50%;
    border: 4px solid #548687;
}
header h4 {
    font-family: "Caveat";
    color: #99DDC8;
    font-size: 1.5rem;
    margin: 0 auto;
}
header a {
    text-decoration: none;
    color: white;
    font-family: "Lato";
}
header a:hover {
    color: #EEE82C;
}
/* grid */
.grid-container {
    display: grid;
    grid-template: repeat(13, 1fr) / repeat(8, 1fr);
    grid-template-areas: "topbar topbar topbar topbar topbar topbar topbar topbar"
    "welcome welcome welcome welcome welcome welcome welcome welcome"
    "welcome welcome welcome welcome welcome welcome welcome welcome"
    "about about about about about about social social"
    "about about about about about about social social"
    "about about about about about about social social"
    "projects projects projects projects projects calendar calendar calendar"
    "projects projects projects projects projects calendar calendar calendar"
    "projects projects projects projects projects calendar calendar calendar"
    "resume resume resume resume resume resume resume resume"
    "resume resume resume resume resume resume resume resume"
    "footer footer footer footer footer footer footer footer"
    "footer footer footer footer footer footer footer footer";
    margin-left: 240px;
    width: 100%;
    grid-gap: 20px;
}
.topbar {
    background-color: #99DDC8;
    grid-area: topbar;
}
.welcome {
    background-color: #69A2B0;
    grid-area: welcome;
}
.about {
    background-color: #548687;
    grid-area: about;
}
.social {
    background-color: #EEE82C;
    grid-area: social;
}
.projects {
    background-color: #99DDC8;
    grid-area: projects;
}
.calendar {
    background-color: #69A2B0;
    grid-area: calendar;
}
.resume {
    background-color: #548687;
    grid-area: resume;
}
.footer {
    background-color: #EEE82C;
    grid-area: footer;
}